body {
    background-color: white;

}
#nav-top{
    background-color: #9C68E3;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding-top:5px;
}

.navbar-top{
    color:white;
    padding-top:5px;
    height:22px;
}
#navbar-brand{
    color:white;
}
#nav-dashboard{
    margin-bottom:30px;
}

textarea {
    resize: none;
}