body, html {
    height:100%;
    background-color: white;
    /*padding-top: 30px;*/

}
section{
    border-bottom: 1px solid #EDEEEF;
    margin-top: 20px;
    padding-bottom: 20px;
}
.hero-unit{
    padding-top:0px;
    border-bottom: 1px solid #EDEEEF;
    padding-bottom: 20px;
}


.navbar{
    background-color: white;
    padding-bottom:0px;

}

.navbar-default .navbar-nav > li > a{
    /*color: #009688;*/
}

#cookieConsent{
    width: 100%;
    position: fixed;
    background: #333;
    padding: 30px 0;
    color: #fff;
    bottom: 0;
    margin-bottom: 0px;
}
#cookieConsent span{
    color:white;
}
.form-registration{
    margin-top: 30px;
}


.hero-unit{
    height: 500px;
    /*background-color: white;*/
    /*background-image: url('../img/hero.jpg');*/
    /*background-size:800px;*/
    background-size: 100% 100%;
    background-position: center;
    background-repeat:no-repeat;
}

footer{
    text-align: center;
}
textarea {
    resize: none;
}
/*Login Form*/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading
{
    margin-bottom: 10px;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
/*einde login form*/